html, body {
    overflow-x: hidden;
    width: 100%;
}

.header {
	height: 400px;
	width: 100%;
	background-color: #28AFE6;
	max-width: auto;
	overflow: hidden;
	display:table;
}


.banner-left {
	padding-top:120px;
}

.epsmon-learn-more {
	color: white;
	text-align: center;
	padding-top: 30px;
}

.banner-header {
	font-size: 48px;
	text-align: center;
	color: white;
	padding-bottom: 30px;
}


.large-6 {
	width: 50%;
	position: relative;
	float: left;
}


img.app-icon {
	width: 96px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 22.544%;
    box-shadow: 0 0 1px 0px #444;
}

img.appstore-badge {
	width: 135px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 
.epsmon-device {
	background-image: url(/images/projects/epsmon-iphone5s_hero.png);
	background-size: 800px 560px;
	background-repeat: no-repeat;
    width: 800px;
    height: 560px;
    margin-top: -40px;
	margin-bottom: -120px;
    float: left;
/* 	margin-left: 20px; */
}
 */


@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {


    /* 
.epsmon-device {
        background-image: url(/images/projects/epsmon-iphone5s_hero@2x.png);
    }
 */
    
}


@media screen and (max-width: 600px) {
	
	.header {
		height: 300px;
	}

	.banner-left {
		padding-top:40px;
	}
	
	.banner-header {
		font-size: 42px;
		padding-bottom: 20px;
	}
	
	/* 
.epsmon-learn-more {
		padding-top: 20px;
	}
	
	.epsmon-device {
		display: none;
	}
 */
	
	.small-12 {
		width:100%;
	}
	
	.small-0 {
		width: 0%;
	}
	
}

