/* Base */
/* ----------------------------------------------------------*/

* { margin:  0; padding: 0; }

html, body { height: 100%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fafafa;
}

p {
	margin: 1em 0px
}

/* 
math {
	font-size: 40px;
}
 */

mrow, msub {
	margin-right: 4px;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 300; }

a       { color: #2a7ae2; text-decoration: none; }
a:hover { color: #000; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  margin: 0 auto;
}

/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
    padding: 30px 0;
}

/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  background-color: white;
}

.site-title,
.site-title:visited {
  display: block;
  color: #333;
  font-size: 26px;
  letter-spacing: -1px;
  position: relative;
}

.site-title:hover {
    color: #2a7ae2;
}

/* Site navigation */

nav a {
    color: #727272;
    display: block;
    text-align: center;
}

nav a:hover {
    color: #2a7ae2;
}

/*.site-nav .menu-icon { display: none; }*/

nav .nav-current {
    border-bottom: 3px solid #2a7ae2
}



/* Site footer */

.site-footer {
    background-color: white;
    border-top: 1px solid #e8e8e8;
    padding: 15px 0 5px;
}

.footer-copyright {
    font-size: 75%;
    text-align: center;
    color: #727272;
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #828282;
}

.icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}


p.subtitle {
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 5px;
}

h1 {
    font-size: 32px;
    letter-spacing: -1.25px;
}

h2 {
    font-size: 26px;
    letter-spacing: -1px;
}

h3 {
    font-size: 20px;
    letter-spacing: -1px;
}

h3 {
    margin-bottom: 5px !important;
}

/* Home styles */
/* ----------------------------------------------------------*/

.home h1 { margin-bottom: 25px; }

.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 42px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
}

.post-header .meta {
  font-size: 15px;
  color: #818181;
  /*margin-top: 5px;*/
}


.post-content { margin: 0 0 30px; }

ul.tokens {
	list-style: none;
	float: left;
	padding: 0;
	margin-left: 0;
	width: 100%;
}


ul.tokens li {
	float: left;
    padding: 2px 10px;
    margin: 0 5px 5px 0;
    background: #2a7ae2;
    color: #f5f5f5;
    font-size: 14px;
    border-radius: .2em
}

ul.tokens.blue li {
	background: #2a7ae2;
}

ul.tokens.grey li {
	background: #555;
}

/*.post-content > * { margin: 20px 0; }*/


/*.post-content h1,*/
/*.post-content h2,*/
/*.post-content h3,*/
/*.post-content h4,*/
/*.post-content h5,*/
/*.post-content h6 {*/
/*  line-height: 1;*/
/*  font-weight: 300;*/
/*  margin: 0 0 20px;*/
/*}*/



blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

ul, ol { padding-left: 20px; }


/* .post start here */
/* ----------------------------------------------------------*/

pre,
code {
  border: 1px solid #f2f2f2;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 3px;
  font-size: 12px;
  font-family: menlo, monaco, monospace;
  overflow:scroll;
}

code { padding: 1px 5px; }

ul,
ol { margin-left: 1.35em; }

pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  border-radius: 3px;
}

pre.terminal code { background-color: #333; }


/* stuff */
/* ----------------------------------------------------------*/

.project img {
}

.project-header img {
    float:right;
    margin-left:20px;
}


.project h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0px;
    letter-spacing: -1px;
}

.project h1 small {
	font-weight: 300;
}

.project h2.client, .project h2.role, .project h2.platform, .project h2.language {
	letter-spacing: 0px;
	font-size: 16px;
	font-weight: 400;
	/*color: #484848;*/
}

.project p {
	margin: 0.2em 0;
}


img.app-icon {
    border-radius: 22.544%;
}

.project {
    overflow:hidden;
    margin-bottom: 40px;
}


.project small {
    font-size: 60%;
}


p.intro {
    margin-bottom: 20px;
}



@media screen and (min-width: 600px) {
    
    .wrap {
        max-width: 800px;
        padding: 0 30px;
    }
    
    .project img {
        float: right;
        width: 128px;
        margin-left: 40px;
    }
    
    nav a {
        height: 53px;
        line-height: 56px;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    /*
    nav li a:first-child {
    	margin-left: 0px;
    }
    
    nav li a:last-child {
    	margin-right: 0px;
    }*/
    
    nav ul {
        float: right;
    }
    
    nav li {
        float: left;
        display: inline;
    }
    
    .site-title {
        float: left;
        line-height: 56px;
    }
}


/* media queries */
/* ----------------------------------------------------------*/

@media screen and (max-width: 600px) {

.wrap { padding: 0 12px; }

.project img {
    float: none;
    display: block;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    float: none;
    text-align: center;
}

nav li {
    float: none;
    display: inline-block;
}

nav a {
    width: auto;
    height: 31px;
    line-height: 34px;
    margin-left: 0;
    margin: 0px 20px;
}

.site-title {
    text-align: center;
    float: none;
    line-height: 34px;
    padding-top: 10px;
}

}


@media print {
    .site-header,.site-footer{display:none;}
    body{font-size:12px;}
    h1{font-size:16px;}
    h2{font-size:15px;}
    h3{font-size:14px;}
    h4,h5,h6{font-size:13px;}
}




