<!DOCTYPE html>
<html lang="en-GB">

  <head>
    <meta charset="utf-8">
        
    <meta name="keywords" content="adrian, russell, iOS, Mac, OS X, software, programming, objective-c, swift, uk, bristol">
        
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}Tin Toy - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="shortcut icon" href="/favicon.ico" />


    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/stylesheets/tintoy.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/stylesheets/highlight.css" | prepend: site.baseurl }}">

    <meta name="theme-color" content="#222222" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">

    {% if page.js %}
     <script src="{{ page.js }}"></script>
    {% endif %}

  {% if page.css %}
     <link rel="stylesheet" href="{{ page.css }}">
    {% endif %}

    {% include google_analytics.html %}

</head>

    <body>

    <div class="tintoy-site-nav">
      <ul>
        <li><a href="/tin-toy/" class="title-nav">
          <picture>
            <source srcset="/images/tintoy/tin-toy-icon-light.png" media="(prefers-color-scheme: light)"/>
            <img src="/images/tintoy/tin-toy-icon.png" height="24" />
        </picture>
          <!-- <span class="title">Tin Toy</span> -->
        </a></li>
        <li><a href="/tin-toy/support" class="other-nav">Tutorial</a></li>
        <li><a href="/tin-toy/examples" class="other-nav">Examples</a></li>
      </ul>
    </div>

	<div class="container">
      {{ content }}
	</div>
	
<footer>
  © 2025 <a href="https://adrianrussell.co.uk">Adrian Russell</a>. All rights reserved.
</footer>

    </body>
</html>